.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2rem solid rgb(16 18 23 / 0.2);
}

.inner {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


