.product-item {
    height: 80px;
    padding: 10px 30px;
    display: flex;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .product-des {
        margin-left: 40px;

        .product-name {
            font-size: 2rem;
        }

        .product-price {
            font-size: 1.6rem;
            margin-top: 6px;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.1);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.2);
    }
}
